{
    "app": {
        "debug": true,
        "host": "127.0.0.1:3000"
    },
    "database": {
        "mongo": {
            "host": "127.0.0.1:27018",
            "db": "inbox_db",
            "user": "",
            "pass": ""
        }
    }
}
